body{

background:#0b1220;
font-family:Arial;
color:white;
text-align:center;

}

.container{

max-width:420px;
margin:auto;

}

#setup,#tossBox{

background:#141c2f;
padding:20px;
border-radius:10px;
margin-top:20px;

}

input{

display:block;
margin:10px auto;
padding:10px;
width:90%;
border-radius:6px;
border:none;

}

button{

padding:10px 15px;
margin:6px;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;

}

.scorebox{

background:#141c2f;
padding:20px;
margin-top:20px;
border-radius:10px;

}

#score{

font-size:42px;
color:#4cc9f0;

}

.runButtons{

margin-top:20px;

}

.runButtons button{

width:60px;
height:60px;
font-size:18px;
background:#1f2a44;
color:white;

}

.wicket{

background:#ff4d4d;

}

.controls button{

background:#4cc9f0;
color:black;

}

.hidden{

display:none;

}

#result{

margin-top:20px;
font-size:20px;
color:#4cc9f0;

}